<head>
	 <%= javascript_include_tag :defaults %>
	 <%= include_in_place_editing %>
</head>

<h1>In place edit for the widgets</h2>
<% for @widget in @widgets %>
	Edit name here: <%= in_place_editor_field "widget", :name %><br />
	Edit description here: <%= in_place_editor_field :widget, :description,{},:rows=>'3' %><br /><br />
<% end %>
